# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

##### usr settings #####

# courseware
/courseware/

# data
data.in
data.out

# to be ACcepted
_*.cpp

# vscode
.vscode
.history

# clear
cls.bat

# self-check
check.cpp
rand.cpp
answer.out
MyCode.out

# temp file
tmp.cpp
langtest.cpp
tempCodeRunnerFile.cpp
